# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/workspace.xml
.idea
node_modules
bower_components
npm-debug.log
config.php
vendor

.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz

*.log
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip