/node_modules
/public/hot
/public/storage
/public_html/hot
/pubic_html/storage
/public_html/images/avatar/*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
