.s-alert-box {
    min-width: 400px;
    border-radius: 4px;
    font-size: 1.2rem!important;
    opacity: .8;
    min-height: 90px;
}

.s-alert-box-inner {
    display: flex;
    align-items: center;
}

.s-alert-box .s-alert-box-inner:before {
    content: '';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3rem;
    vertical-align: top;
    margin-right: 1rem;
    display: inline-block;
}

.s-alert-box.s-alert-success {
    border: solid 1px #048e45;
}

.s-alert-box.s-alert-error {
    border: solid 1px #bd2e1d;
}

.s-alert-box.s-alert-warning {
    border: solid 1px #c39903;
}

.s-alert-box.s-alert-info {
    border: solid 1px #1082a9;
}

.s-alert-box.s-alert-success .s-alert-box-inner:before {
    content: "\f00c";
}

.s-alert-box.s-alert-error .s-alert-box-inner:before {
    content: "\f071";
}

.s-alert-box.s-alert-warning .s-alert-box-inner:before {
    content: "\f071";
}

.s-alert-box.s-alert-info .s-alert-box-inner:before {
    content: "\f129";
}