@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?eihiys');
  src:  url('../fonts/icomoon.eot?eihiys#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?eihiys') format('truetype'),
  url('../fonts/icomoon.woff?eihiys') format('woff'),
  url('../fonts/icomoon.svg?eihiys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow:before {
  content: "\e914";
}
.icon-home:before {
  content: "\e900";
}
.icon-team:before {
  content: "\e901";
}
.icon-affiliate:before {
  content: "\e902";
}
.icon-writing:before {
  content: "\e903";
}
.icon-like:before {
  content: "\e904";
}
.icon-event:before {
  content: "\e905";
}
.icon-prayer:before {
  content: "\e906";
}
.icon-plant:before {
  content: "\e907";
}
.icon-trello:before {
  content: "\e908";
}
.icon-signal-bars:before {
  content: "\e909";
}
.icon-ebook:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-musical-bell-outline:before {
  content: "\e90c";
}
.icon-printer-printing-document:before {
  content: "\e90d";
}
.icon-tag-black-shape:before {
  content: "\e90e";
}
.icon-garbage:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e910";
}
.icon-setup:before {
  content: "\e911";
}
.icon-pencil-edit-button:before {
  content: "\e912";
}
.icon-add:before {
  content: "\e913";
}
