body {
  background: url("../images/bhcf-dashboard.jpg") no-repeat center center / cover;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}
ul {
  padding: 0;
  li {
    @extend .list-unstyled;
  }
}
h1 {
  font-size: 30px;
}